<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
</head>
<body>
<h1> <%=dogs.name%> </h1>
  <span id='<%=dogs.name%>'><%=dogs.name%> is a <%=dogs.breed%> and is <%=dogs.age%> years old</span>
    
</body>
</html>